html {
    height: 100%;
    font-family: "Tilt Neon", sans-serif;
}

body {
    background-color: #f3f6f2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-container {
    position: relative;
    height: 650px;
    width: 550px;
    margin-top: 50px;
    background-color: #9ab396;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-container {
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #63a55a;
}

#app-name-header {
    font-size: 35px;
    margin: 0px;
    color: black;
}

#billing-group-title {
    margin-bottom: 0;
}

#billing-group-description {
    color: #a09d9e;
    font-size: 14px;
}

.expenses-container {
    position: relative;
    height: 450px;
    width: auto;
    overflow-y: auto;
}

.expenses-container::-webkit-scrollbar {
    width: 0;
}

.expenses-container::-webkit-scrollbar-track {
    background: transparent;
}

.expenses-container::-webkit-scrollbar-thumb {
    background: transparent;
}

#billing-groups-list {
    list-style-type: none;
    background-color: white;
    color: aliceblue;
    padding: 0;
    color: black;
    border-radius: 14px;
    padding-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

li {
    padding-top: 1px;
    padding-left: 20px;
}

#line-under-list-item {
    width: 95%;
    border: 1px solid #7d7576;
}

a {
    color: inherit;
    text-decoration: none;
}

.iteam-header-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#item-description {
    order: 1;
}

#who-bought-item {
    margin-top: 0;
    font-size: 14px;
    color: #a09d9e;
}

#item-price {
    order: 2;
    margin-right: 20px;
}

.expenses-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#expenses-not-as-link {
    width: 50%;
    text-align: center;
    background-color: #f8f6f6;
    border-bottom-right-radius: 14px;
}

#balance-as-link {
    width: 100%;
    text-align: center;
}

#link {
    width: 50%;
}

#expenses-as-link {
    width: 100%;
    text-align: center;
}

#balance-not-as-link {
    width: 50%;
    text-align: center;
    border-bottom-left-radius: 14px;
    background-color: #f8f6f6;
}

#users-costs-list {
    list-style-type: none;
    background-color: white;
    color: aliceblue;
    padding: 0;
    color: black;
    border-radius: 14px;
    padding-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

#choose-user-btn {
    position: absolute;
    height: 70px;
    width: 70px;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    border-radius: 50%;
    border: none;
    background-color: white;
}

#add-new-billing-group {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.users-container {
    position: relative;
    width: 80%;
    height: 400px;
    margin-top: 100px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #28263b;
    overflow-x: auto;
}

#users-list {
    list-style: none;
}

#user-list-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 40px;
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
}

#add-new-user-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 70px;
    position: relative;
    top: -30px;
    left: -30px;
}

.new-billing-group-container {
    position: relative;
    height: 650px;
    width: 750px;
    margin-top: 50px;
    background-color: #9ab396;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#new-user-name {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    width: 90%;
}

#submit-new-user-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 45%;
    z-index: 999;
}

.bottom-menu {
    display: flex;
    padding: 5px;
    width: calc(100% - 10px);
    height: 20px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    z-index: 999;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63a55a;
}


#add-new-item-btn {
    position: absolute;
    left: calc(50% - 30px);
    bottom: -15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    z-index: 999;
    background-color: #9ae77e;
}

.current-user-cost,
.total-expenses {
    flex: 1;
    text-align: center;
}

#new-item-title {
    width: 90%;
    padding: 5px;
    padding-left: 10px;
    border: none;
    font-family: "Tilt Neon", sans-serif;
    border-radius: 14px;
    margin-top: 5px;
    margin-left: 3px;
    font-size: 16px;
    margin-bottom: 2px;
}

#new-item-price {
    width: 90%;
    padding: 5px;
    padding-left: 10px;
    border: none;
    font-family: "Tilt Neon", sans-serif;
    border-radius: 14px;
    margin-top: 5px;
    margin-left: 3px;
    font-size: 16px;
}

#who-buys-item {
    margin-left: 5px;
    margin-bottom: 0;
}

#current-user {
    margin-left: 5px;
    margin-top: 2px;
}

#add-item-btn {
    border-radius: 14px;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #63a55a;
    margin-left: 5px;
    font-weight: bold;
}

#add-item-btn:hover {
    background-color: #538a4c;
}

#add-new-user-paragraph {
    margin-left: 5px;
}

#choose-category-header {
    margin-left: 5px;
}

#add-new-user-btn {
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

#new-user-billing-group-form {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}