<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>ShareWallet</title>
</head>

<body>
    <div class="new-billing-group-container">
        <div class="header-container">
            <h2 id="app-name-header">New ShareWallet</h2>
        </div>
        <div class="new-billing-group-title-and-descirption-container">
            <form id="new-billing-group-title-and-description-form" action="/new/billingGroup" method="POST">
                <input id="new-item-title" type="text" name="title" placeholder="Title" required>
                <input id="new-item-price" type="text" name="description" placeholder="Description" required>
                <input type="hidden" id="selected-users-to-new-billing-group" name="usersToNewBillingGroup">
                <input type="hidden" id="selected-category" name="categoryToNewBillingGroup">
            </form>
        </div>
        <p id="add-new-user-paragraph">Add New User</p>
        <form id="new-user-billing-group-form" action="/new/billingGroup" method="POST">
            <input id="new-username-input" type="text" name="name" placeholder="Username" style="margin-top: 0;"
                required>
            <button id="add-new-user-in-new-billing-group-btn" type="button" onclick="addUser()">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
            </button>
        </form>
        <div class="new-bliing-group-category">
            <div class="choose-category-container">
                <select id="category">
                    <option value="trip">Trip</option>
                    <option value="CommonHome">Common home</option>
                    <option value="Relationship">Relationship</option>
                    <option value="Party">Party</option>
                    <option value="Project">Project</option>
                    <option value="Other">Other</option>
                </select>
                <div class="select-selected">Select a category</div>
                <div class="select-items">
                    <div>Trip</div>
                    <div>Common home</div>
                    <div>Relationship</div>
                    <div>Party</div>
                    <div>Project</div>
                    <div>Other</div>
                </div>
            </div>
        </div>
        <h3>Select users</h3>
        <div class="new-bliing-group-category">
            <select id="existing-users" multiple>
                <% if(locals.users) { %>
                    <% users.forEach(user=> { %>
                        <option value="<%= user.id %>">
                            <%= user.name %>
                        </option>
                        <% }) %>
                            <% } %>
            </select>
        </div>
        <button id="submit-new-billing-group" onclick="submitForm()">SUBMIT</button>
    </div>

    <script>
        var select = document.querySelector(".choose-category-container select");
        var options = document.querySelectorAll(".choose-category-container .select-items div");
        var selected = document.querySelector(".choose-category-container .select-selected");

        selected.addEventListener("click", function () {
            selected.classList.toggle("select-arrow-active");
            document.querySelector(".choose-category-container .select-items").classList.toggle("select-hide");
        });

        for (var option of options) {
            option.addEventListener("click", function () {
                if (!this.classList.contains("same-as-selected")) {
                    var value = this.innerText;
                    selected.innerText = value;
                    select.value = value;
                }
            });
        }

        document.addEventListener("click", function (e) {
            if (!e.target.matches('.choose-category-container .select-selected')) {
                var dropdowns = document.querySelectorAll(".choose-category-container .select-items");
                for (var dropdown of dropdowns) {
                    if (!dropdown.classList.contains('select-hide')) {
                        dropdown.classList.add('select-hide');
                    }
                }
                selected.classList.remove("select-arrow-active");
            }
        });

        function addUser() {
            var userInput = document.getElementById("new-username-input").value;
            var selectExistingUser = document.getElementById("existing-users");
            var option = document.createElement("option");
            option.text = userInput;
            option.value = "new";
            selectExistingUser.add(option);
        }

        function submitForm() {
            var selectedUsers = document.getElementById("existing-users").selectedOptions;
            var selectedCategory = document.getElementById("category");
            var category = selectedCategory.value;
            document.getElementById("selected-category").value = category;

            var usersToNewBillingGroup = [];
            for (let i = 0; i < selectedUsers.length; i++) {
                var user = {
                    id: selectedUsers[i].value,
                    name: selectedUsers[i].text
                };
                usersToNewBillingGroup.push(user);
            }
            document.getElementById("selected-users-to-new-billing-group").value = JSON.stringify(usersToNewBillingGroup);
            document.getElementById("new-billing-group-title-and-description-form").submit();
        }

    </script>
</body>

</html>